body{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0;
    color: white;
    
}
.kozep{
    text-align: center;
   
   }

#menu {
background-color: rgb(53, 51, 51);
margin-top: -20px;
padding-bottom: 10px;
}
#menu ul{
 display: grid;
 grid-template-columns:  150px 150px 150px 150px 150px 150px ;
 text-align: left;

 
}
#menu li{
    list-style: none;
    margin-top: 40px;

  
    
}

h1{
    clear: both;
    text-align: center;
}
h2{
    text-align: center;
}

#elsolap{
    width: 80%;
 margin: auto ;
 padding: auto;
 display: grid;

 grid-template-columns:  1fr 1fr 1fr;
    grid-row: 1fr;
 
}

#elsolap img{
    width: 200px;
    height: 200px;
    
}


.oszlop2{
   
    width: 80%;
    margin-top: 50px;
    padding: 50px auto    auto auto;

    border-left: 2px solid red;
    border-right: 2px solid red;
    
}
.oszlop{
    
    width: 80%;
    margin: 50px auto     auto auto;
    padding: 50px auto   auto auto;
    
}

a:link{
    color: white;
    text-decoration: none;
    list-style: none;


}

a:visited{
    color: white;
    

}

a:hover{
    color: white;


}

a:active{
    color: white;


}
#masodik img{
    float: right;
    margin-right: 60px;

}
#cimp{
    font-size: 50px;
    border-bottom: 2px solid red;
    margin-right: 600px;
    
}
#masodik p{
   
    margin: 30px;
    margin-right: 600px;
}
#harmadik{
    clear: both;

}
#harmadik{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;

}
.profildiv{
 margin-top: 200px;
 margin-bottom: 200px;
 color: white;
}
.profil{
 height: 100px;
 width: 100px;
 border-radius: 50%;
}
.profildiv h3{

    text-align: center;
}
.profildiv p{
 text-align: center;
 background-color: aqua;
 margin-left: 90px;
 margin-right: 90px;
 padding-top: 20px;
 padding-bottom: 20px;

}